@import "tailwindcss";

@theme {
  --color-brand-blue: #2563eb;
  --color-brand-blue-bg: #eff6ff;
  --color-sidebar-bg: #f4f5f7;
  --color-bg-light: #f8fafb;
}

body {
  background-color: var(--color-bg-light);
  color: #111827;
  -webkit-font-smoothing: antialiased;
}
